/* Resettiamo i valori di default  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-image: url(background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.container{
    width: 60%;
    margin: 20px auto 0px;
    border-radius: 16px;
    text-align: center;
    background: rgba(0,0,0,0.4);
}

.contenuto{
    width: 80%;
    margin: 0 auto;
}

header img{
    width: 30%;
    margin-top: 10px;
}

header h1{
    color: #00dd00;
}

.navigation{
    width: 100%;
    margin: 0 auto;
    background-color: #00dd00;
    text-align: center;
    padding: 10px;
}

.monopattino{
    text-align: left;
    height: 420px;
}

.monopattino h2{
    display: inline-block;
    margin-top: 25px;
    font-size: 20px;
}


.carica{
    height: 25px;
    border-radius: 5px;
}

.carica.gino{
    width: 210px;
    background-color: #c3820a;
}

.carica.mike{
    width: 400px;
    background-color: #009500;
}

.carica.fede{
    width: 100px;
    background-color: #c40c0c;
}

.firma{
    background-color: rgba(0,0,0,0.4);
    color: #00dd00;
    width: 20%;
    margin: 5px auto 0px;
    text-align: center;
    border-radius: 5px;
}




